<!DOCTYPE html>
<html>
<title>
    <%= title %>
</title>

<head>
    <script>
        //Create
        var jsonCreate = function () {
            //inputString = prompt('Input created Item Name', 'Sample String');
            task = prompt('Input created Item Name', 'Sample String');
            var date = new Date();

            var inputData = {
                id: "",
                task: task,
                flow: "1",
                x: "0",
                y: "0",
                time: date,
            }
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    var jsonData = JSON.parse(xhr.responseText);

                    document.getElementById("url").innerHTML = createURL;
                    document.getElementById("status").innerHTML = xhr.status;
                    document.getElementById("success").innerHTML = jsonData.success;
                }
            }
            xhr.open("POST", domain+createURL);
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(JSON.stringify(inputData));

        }

        //Read
        var jsonRead = function () {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    var Datas = JSON.parse(xhr.responseText);
                    var isSuccess=Datas.success;
                    var jsonDatas = Datas.items;

                    document.getElementById("status").innerHTML = xhr.status;
                    document.getElementById("url").innerHTML = readURL;
                    document.getElementById("success").innerHTML = isSuccess;

                    var innerHTML = "";
                    for(var i=0;i<jsonDatas.length;i++){
                        innerHTML += "<tr>";

                        innerHTML += "<td>" + jsonDatas[i].id + "</td>";
                        innerHTML += "<td>" + jsonDatas[i].task + "</td>";
                        innerHTML += "<td>" + jsonDatas[i].flow + "</td>";
                        innerHTML += "<td>" + jsonDatas[i].x + "</td>";
                        innerHTML += "<td>" + jsonDatas[i].y + "</td>";
                        innerHTML += "<td>" + jsonDatas[i].time + "</td>";

                        innerHTML += "</tr>";
                    }

                    document.getElementById("Datas").innerHTML = "<table border='1'>\
                        <tbody>\
                        <tr>\
                            <td>id</td>\
                            <td>task</td >\
                            <td> flow </td>\
                            <td> x </td>\
                            <td> y </td>\
                            <td> time </td>\
                        </tr >" 
                        + innerHTML 
                        + "</tbody>\
                        </table>";


                }
            };
            xhr.open('GET', domain + readURL);
            xhr.send();
        }

        //Update
        var jsonUpdate = function () {
            inputString1 = prompt('Input Old Item Name', 'Sample String');
            inputString2 = prompt('Input New Item Name', 'Sample String');
            var json = {
                oldItem: inputString1,
                newItem: inputString2
            }

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    var jsonData = JSON.parse(xhr.responseText);

                    document.getElementById("status").innerHTML = xhr.status;
                    document.getElementById("url").innerHTML = updateURL;
                    document.getElementById("success").innerHTML = jsonData.success;

                }
            };
            xhr.open('POST', domain + updateURL);

            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(JSON.stringify(json));

        }

        //Delete
        var jsonDelete = function () {
            inputString = prompt('Input created Item Name', 'Sample String');

            var json = {
                contents: inputString
            }

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    var jsonData = JSON.parse(xhr.responseText);

                    document.getElementById("status").innerHTML = xhr.status;
                    document.getElementById("url").innerHTML = deleteURL;
                    document.getElementById("success").innerHTML = jsonData.success;

                }
            };
            xhr.open('POST', domain + deleteURL);
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(JSON.stringify(json));

        }

        
        var domain = <%- JSON.stringify(domain) %>;
        var createURL = <%- JSON.stringify(createURL) %>;
        var readURL = <%- JSON.stringify(readURL) %>;
        var updateURL = <%- JSON.stringify(updateURL) %>;
        var deleteURL = <%- JSON.stringify(deleteURL) %>;

    </script>
</head>

<body>

    <a>domain is "
        <%= domain %>"</a>
    <br>
    <a>createURL is "
        <%= createURL %>"</a>
    <br>
    <a>readURL is "
        <%= readURL %>"</a>
    <br>
    <a>updateURL is "
        <%= updateURL %>"</a>
    <br>
    <a>deleteURL is "
        <%=deleteURL%>"</a>
        <br>
        <br>
    <table border='1'>
        <tr>
            <td> URL </td>
            <td> Status </td>
            <td> isSuccess </td>
        </tr>
        <tr>
            <td>
                <p id="url"></p>
            </td>
            <td>
                <p id="status"></p>
            </td>            <td>
                <p id="success"></p>
            </td>
        </tr>
    </table>

    <br>
    <button onclick='jsonCreate()'>1. Create</button>
    <br>
    <br>
    <button onclick='jsonRead()'>2. Read </button>
    <br>
    <br>
    <button onclick='jsonUpdate()'>3. Update</button>
    <br>
    <br>
    <button onclick='jsonDelete()'>4. Delete</button>
    <br>
    <br>
    <p id="Datas"></p>
  
</body>

</html>