<!DOCTYPE html>
<html>
<title>
    <%= title %>
</title>

<head>
    <script>
        //Create
        var jsonCreate = function () {
            inputString = prompt('Input created Item Name', 'Sample String');

            var json = {
                contents: inputString
            }

            var data = {
                id: "",
                task: inputString,
                flow: "",
                x: "",
                y: "",
                time: "",
            }
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    document.getElementById("url").innerHTML = createURL;
                    document.getElementById("status").innerHTML = xhr.status;
                }
            }
            xhr.open("POST", domain+createURL);
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(JSON.stringify(json));

        }

        //Read
        var jsonRead = function () {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    document.getElementById("status").innerHTML = xhr.status;
                    document.getElementById("url").innerHTML = readURL;
                    document.getElementById("items").innerHTML = xhr.responseText;
                }
            };
            xhr.open('GET', domain + readURL);
            xhr.send();
        }

        //Update
        var jsonUpdate = function () {
            inputString1 = prompt('Input Old Item Name', 'Sample String');
            inputString2 = prompt('Input New Item Name', 'Sample String');

            var json = {
                oldItem: inputString1,
                newItem: inputString2
            }

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    document.getElementById("status").innerHTML = xhr.status;
                    document.getElementById("url").innerHTML = updateURL;
                }
            };
            xhr.open('POST', domain + updateURL);

            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(JSON.stringify(json));

        }

        //Delete
        var jsonDelete = function () {
            inputString = prompt('Input created Item Name', 'Sample String');

            var json = {
                contents: inputString
            }

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    document.getElementById("status").innerHTML = xhr.status;
                    document.getElementById("url").innerHTML = deleteURL;
                }
            };
            xhr.open('POST', domain + deleteURL);
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(JSON.stringify(json));

        }

        
        var domain = <%- JSON.stringify(domain) %>;
        var createURL = <%- JSON.stringify(createURL) %>;
        var readURL = <%- JSON.stringify(readURL) %>;
        var updateURL = <%- JSON.stringify(updateURL) %>;
        var deleteURL = <%- JSON.stringify(deleteURL) %>;


        var d = new Date();
        console.log(d);

        var data = {
            flow: "",
            x: "",
            y: "",
            time: "",
            job_id: "",
            task_number: ""
        }
    </script>
</head>

<body>

    <a>domain is "
        <%= domain %>"</a>
    <br>
    <a>createURL is "
        <%= createURL %>"</a>
    <br>
    <a>readURL is "
        <%= readURL %>"</a>
    <br>
    <a>updateURL is "
        <%= updateURL %>"</a>
    <br>
    <a>deleteURL is "
        <%=deleteURL%>"</a>
        <br>
        <br>
        <table border='1'>
        <tr>
            <td> URL </td>
            <td> Status </td>
        </tr>
        <tr>
            <td>
                <p id="url"></p>
            </td>
            <td>
                <p id="status"></p>
            </td>
        </tr>
    </table>

    <br>
    <button onclick='jsonCreate()'>1. Create</button>
    <br>
    <br>
    <button onclick='jsonRead()'>2. Read </button>
    <br>
    <br>
    <button onclick='jsonUpdate()'>3. Update</button>
    <br>
    <br>
    <button onclick='jsonDelete()'>4. Delete</button>
    <br>
    <br>
    <p id="items"></p>
</body>

</html>